@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-color: #FF1D23;
    text-align: center;
}
h1 {
    color: white;
    font-family: Bebas Neue;
    font-size: 50px;
    margin: 0px;
}
main {
    background-color: white;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
}
.column {
display: flex;
justify-content: space-between;
margin: 30px 0px;
}

.box {
    background-color: #0B75B3;
    width: 100px;
    height: 100px;
    border: 6px solid #FFFB36;
    border-radius: 4px;
}

.column.buttons {
    justify-content: center;
    gap: 20px;
}